.home-area{
    background-color:#F3F4F8;
}
.hero-area{
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
  
}
.hero-text h1{
    font-size: 55px;
    color:#ff8906;
    font-weight: 700;
    line-height: 1.5em;
}
.hero-text h1 span{
    color: #094067 ;
}
.service-area{
    margin-top: 100px;
}

.section-title{
    font-size: 45px;
    color:#ff8906;
    font-weight: 700;
}
.hero-btn{
    color: white;
    background-color: #21a7d0;
    font-weight: 600;
    padding: 10px 20px;
}
.hero-btn:hover{
    background-color: #ff8906;
    color: white;
}
.dr-area .row .dr-images{
    text-align: center;

}
.dr-area .row{
    margin-bottom: 80px;
}
.dr-area .row .dr-images img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.dr-name{
    font-weight: 600;
    color:#094067;
}
.brand-img{
    max-width: 250px ;
}

@media (max-width:600px) {
    .hero-text h1{
        font-size: 45px;
       margin: 0;
    }
}