.main-logo{
    width: 8%;
}
.navbar-light .navbar-nav .nav-link{
    font-weight: 700;
    color: #ff8906;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-brand p{
    font-weight: 700;
    margin-left: 5px;
    color: #ff8906;
    margin-bottom: 0;
    width: 50%;
}

.navbar-brand p span{
    color:#ef4565 ;
}
.items{
    font-weight: 700;
    color: #ff8906;
}
.items:hover{
    color: #ef4565;
}
a.navbar-brand{
    width: 50%;
}